# Build folders
bin/
obj/

# Log files and crash dumps
crash.log
crash.txt
stderr.txt
stdout.txt
dump.json

# Binaries (these are huge and shouldn't be in Git)
*.exe

# Excluded by user
setup.iss
setup_plus.iss
perfect_logo.png
